:root {
    --black-color: black;
}
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*   Header styles */
header {
    background-color:  #B9C2CC;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 10vh;
}
header div {
    width: 25vw;
    background-color: #63c5da;
    text-align: center;
    margin: 10px 0;
}
header div h1 {
    padding-top: 20px;
    font-size: 2vw;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px 10px 0 0;
    font-size: 1.55vw;
}
header nav ul a {
    margin-right: 60px;
    color: var(--black-color);
}
header nav ul li {
    display: inline;
}
header nav a {
    text-decoration: none;
}
header nav a:hover {
    background-color: var(--black-color);
    color: white;
}
.black-underline {
    border-bottom: 3px solid var(--black-color);
}
/*  hero syles */
.avatar {
    text-align: center;
    padding-top: 25px;
    background-image: url(./images/wall-background.jpg);
    height: 250px;
}
.avatar-img {
    border: 2px solid var(--black-color);
}
/* About Me Styles */ 
.about {
    display: flex;
    justify-content: space-evenly;
    padding-top: 5vw;

}
.about-para {
    width: 75vw;
}
.about-para p {
    font-size: .99vw;
    margin-left: 75px;
}
/* Skills styles */
.skill {
    display: flex;
    justify-content: space-evenly;
    padding-top: 5vw;

    
}
.skill-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-left: 75px;

}
.surf-card {
    background-image: url(./images/surf.jpg);
    background-position: center;
    background-size: cover;

    height: 300px;
    width: 50vw;
}
.calc-card {
    background-image: url(./images/pexels-rodnae-productions-5915147.jpg);
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 50vw;
}
.password-card {
    background-image: url(./images/pexels-nao-triponez-792199.jpg);
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 50vw;
}

/* Contact styles */
footer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    align-items: center;
    margin: 50px 0 0 200px;
}
.contact-icons li {
    display: inline;
  
}





/*  dynamic class */
.subtitle {
    font-size: 1.55vw;
    width: 150px;
    height: 150px;
    border-right: 7px solid black;
}

.skill-border {
    border: 2px solid black;
}
 ul {
    list-style: none;
 }